*~
*.Z
*.[568vq]
*.a
*.aes
*.app
*.cbp
*.cmd
*.d
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.gz
*.hex
*.i*86
*.idb
*.ilk
*.iml
*.ipr
*.iws
*.ko
*.la
*.lib
*.lo
*.map
*.mod*
*.o
*.obj
*.out
*.pch
*.pdb
*.pdf
*.prof
*.so
*.so.*
*.su
*.swp
*.tar
*.tar.gz
*.test
*.tgz
*.x86_64
*.xz
*.zip

.env
.env.*
.DS_Store
a.out
pogo

.archive/
*.dSYM/
.idea/
.idea_modules/
.vscode/
testdata/
